<section id='dashboard-parent-graph'>
    <!-- {{ember-chart data=model type='bar' width=200 height=200 class='center-block'}} -->
  {{#each model as |task|}}
    {{task.date}}
  {{/each}}
</section>
{{yield}}
