<section id='dashboard-parent-graph'>
  <div class='graph container'>
    {{#each model as |task|}}
    <section class='graph'>
      <article class='graph-element'>
          {{task.date}}
      </article>
    </section>
    {{/each}}
  </div>
</section>
{{yield}}
