@import 'variables';
@import 'mixins';

.admin-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.top-results-container {
  background-image: linear-gradient(0deg, #09E2DE 0%, rgba(10,187,174,0.00) 100%);
  background-image: linear-gradient(-180deg, #39C28A 0%, rgba(255,255,255,0.02) 100%);
  height: 175px;
  width: 40%;
  margin: auto;
  color: white;
  padding-bottom: 20px;
}

.results-title {
  text-align: center;
}

.icons-column-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.icons {
  margin-top: 10px;
}

.admin-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: $color-pop-two;
  color: white;
}

.start-end-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.picker-title {
  margin-right: 5px;
}

.data-submit {
  background: $color-pop-three;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 100;
  color: white;
  cursor: pointer;
  width: 85px;
  height: 40px;
  // margin: auto;
  // margin-top: 20px;
  &:hover {
    background: white;
    border: 2px solid $color-pop-three;
    color: $color-pop-three;
  }
}
