@import 'variables';
@import 'mixins';

#dashboard-day-list {
  height: calc(50vh - 115px);
  overflow-y: scroll;
}

ul {
  @include clear();
}

.dashboard-task-per-day {
  position: relative;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100vw;
  padding-left: 20px;
  list-style: none;
  box-shadow: .5px .5px 1px rgba(0, 0, 0, .2);
}

.dashboard-task-title {
  left: 10px;
}

.dashboard-task-progress {
  position: absolute;
  right: 40px;
}

.progress {
  display: inline-block;
  margin: 5px;
}
