@import 'variables';
@import 'mixins';

footer {
  @include clear();
  position: fixed;
  display: flex;
  bottom: 0;
  height: 80px;
  width: 100vw;
  align-items: center;
  background-color: white;
  border: 1px solid $color-flat; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.nav-link {
  background-position: center;
  width: 50px;
}
