@import 'variables';
@import 'mixins';

footer {
  align-items: center;
  height: 54px;
  width: 100vw;
  bottom: 0;
  position: fixed;
  margin: 20px 0 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.nav-link {
  background-position: center;
  width: 50px;
}
