@import 'variables';
@import 'mixins';

.auth {
  padding-right: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
  width: 100vw;
  height: 60px;
  background-color: $color-main;
  color: white;
}

#title-main {
  margin: auto;
  font-size: 1.5rem;
  padding-left: 70px;
  padding-top: 10px;
}
