$color-main: #04C1BA;
$color-dark: #000000;

$color-pop-one: #FF8518;
$color-pop-two: #32B3F4;
$color-pop-three: #83CD22;
$color-pop-four: #EE3D6E;
$color-pop-five: #0EE1DE;
$color-pop-six: #363C6E;
$color-pop-seven: #2F9BE2;
