<header>
  <h1 id="title-main">wellness</h1>
  {{#if session.isAuthenticated}}
    <p class="auth login" {{action 'logout'}}>Logout →</p>
  {{else}}
    <p class="auth logout" {{action 'login'}}>Login →</p>
  {{/if}}
</header>
<body>
  {{outlet}}
</body>
<footer>
  <nav>
    <div class="nav-link home-link">{{#link-to  "home"}}Home{{/link-to}}</div>
    <div class="nav-link cal-link">{{#link-to "calendar"}}Calendar{{/link-to}}</div>
    <div class="nav-link dash-link">{{#link-to "dashboard"}}Dashboard{{/link-to}}</div>
    <div class="nav-link profile-link">{{#link-to "profile"}}Profile{{/link-to}}</div>
  </nav>
</footer>
