<div>
  <p>dashboard</p>
</div>

{{outlet}}


<!-- {
  name: 'Madison',
  weeks: [
    [0] { sleep: true, sweat: true, },
    [1] { sleep: true, sweat: true, },
    [2] { sleep: true, sweat: true, },
  ]
} -->
