<div class="directions-container">
  <section class="dir-text-container">
    <h1 class="directions-title">How to use the Turing Wellness Challenge</h1>
    <ol class="directions-list">
      <li class="dir-items">Once logged in your completed tasks will accumulate for the week and the mod.</li>
      <li class="dir-items">Visit every day to check off your tasks.</li>
      <li class="dir-items">Every day that you do a wellness activity, you get a point for each (4 points if you meet all 4!). <br> Also, this is on the honor system, so let's be honorable :)</li>
      <li class="dir-items">Every person who meets his/her daily goal (or the person closest to meeting his/her goal) will be entered into a drawing for a special prize each week. Prizes will be drawn at the end of the following Monday.</li>
      <li class="dir-items">Everyone who meets 100% of their goals each week for the entire module will get a grand prize at the end of the module!</li>
    </ol>
  </section>
</div>

{{outlet}}
