<div>
  <h1>home</h1>
  <form class="">
    <input type="checkbox" value="1">Sweat
    <input type="checkbox" value="1">Rest
    <input type="checkbox" value="1">Nutrition
    <input type="checkbox" value="1">Personal Wellness
    <input type="submit" value="Submit">
  </form>
</div>

{{outlet}}
