<div>
  <h1>home</h1>
  <form class="">
    <input type="checkbox" value="sweat">Sweat
    <input type="checkbox" value="sweat">Rest
    <input type="checkbox" value="sweat">Nutrition
    <input type="checkbox" value="sweat">Personal Wellness
    <input type="submit" value="Submit">
  </form>
</div>

{{outlet}}
