<div class="welcome-container">
  <img src="./assets/leaf.png" alt="Leaf image">
  <h1>Welcome to the Turing School Wellness Tracker!</h1>
  <h2>Please login to begin tracking your goals.</h2>
</div>
