<div class="welcome-container">
  <h1 class="welcome">Welcome to the Turing School Wellness Tracker!</h1>
  <h2 class="welcome">Please login to begin tracking your goals.</h2>
</div>

<div class="icons-container">
  <img src="./assets/sweat_feet.png" alt="Sweat image">
  <img src="./assets/leaf.png" alt="Diet image">
  <img src="./assets/rest_cup.svg" alt="Rest image">
  <img src="./assets/personal_heart.svg" alt="Personal image">
</div>
