<section id="profile-container">
  <img src='{{session.data.authenticated.profile.picture}}' class='profile-pic'>
  <article class='profile-info'>
    <p class='profile-name'>Hello {{session.data.authenticated.profile.name}}</p>
    <p class='profile-message'>Tell the world your achievements.</p>
  </article>
</section>
{{outlet}}
