<p>profile</p>
<section class="profile-container">
  <img src='{{session.data.authenticated.profile.picture}}' class="profile-pic">
  <h3>{{session.data.authenticated.profile.name}}</h3>
</section>

{{outlet}}
